.homepage {
    background: url('../images/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    margin-top: 85px;
}

.homepage .content {
    width: 40%;
    font-size: 64px;
    font-weight: bold;
    color: #6fb3b8;
    position: absolute;
    right: 6%;
    top: 20%;
}